body {
    background: #ffe url("https://nalib.github.io/parliament/page_resources/fade.png") top center repeat-x;
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

hr {
    border: none;
    border-top: 1px solid #d9bfb7;
    height: 0;
}

a,
a:visited {
    color: #00e;
    text-decoration: none;
}

a:hover {
    color: red!important; 
}

h2 {
    color: #cc1105; /* #117743;*/
    font-weight: 700;
    text-align: center;
    /* margin-left: 14pt; */
}

div#nav {
    font-size: 9pt;
    color: #b86;
    display: block;
    text-align: center;
}

div#nav a {
    font-weight: 400;
    padding: 1px;
    text-decoration: none;
    color: maroon;
}

div#constitution {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    clear: both;
}

div#schedule {
    width: 468px;
    margin: auto;
    font-size: 11px;
}

div#schedule h3 {
    text-align: center;
}

div#schedule ul {
    margin: 0;
}

div#hide-schedule {
    text-align: right;
    display: block;
}

div#ctrl-links {
    clear: both;
}

div.banner {
    text-align: center;
    clear: both;
}

div.bannerImage {
    margin: 5px auto;
    width: 200px;
    height: 200px;
    max-width: 100%;
}

div.bannerTitle {
    font-family: Tahoma, sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -2px;
    margin-top: 0;
}

hr.underBanner {
    width: 90%;
}

div.segment {
    background-color: #f0e0d6;
    border: 1px solid #d9bfb7;
    border-left: none;
    border-top: none;
    display: table;
    padding: 2px;
    margin: 4px 0;
}

/* Archive table */

table {
    max-width: 80%;
    margin: 10px auto 0;
    border-spacing: 1px;
}

table thead tr {
    background-color: #ede2d4;
}

table thead tr td {
    background-color: #ea8;
    color: #800;
    font-weight: 700;
    border: 1px solid #800;
    text-align: center;
    font-size: 9pt;
    padding: 5px;
}

/* Executive branch chart */

.exec-container {
    /* background-color: aqua;  */
    display: flex; 
    justify-content: space-evenly; 
    /* padding: 40px 0; */
}

.exec-position-group {
    /* background-color: tomato;  */
    display: flex; 
    flex-direction: column;
    margin: 0 0;
}

.exec-position, .exec-committee {
    width: 300px;
    background-color: #f0e0d6;
    border: 1px solid #d9bfb7;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

.exec-committee
{
    width: 220px;
}

.exec-position hr {
    width: 50%;
    border: none;
    border-top: 1px solid #d9bfb7;
    height: 0;
}

.exec-position .name, .exec-committee .name {
    color: #117743;
    font-weight: 700;
}

.exec-position .tripcode, .exec-committee .tripcode {
    color: #117743;
    font-weight: 400 !important;
}

.exec-position .party, .exec-committee .party {
    padding: 0 5px;
    border-radius: 6px;
    font-size: 0.8em;
    cursor: pointer;
}

.exec-position-title {
    font-size: 13pt;
    font-weight: 600;
}

.exec-position-figure {
    font-size: 10pt;
    white-space: nowrap;
    overflow: hidden;
}